/node_modules
*/node_modules
**/node_modules
/output
/upload
*/units
/json_builder
.DS_Store
**/**/.DS_Store
package-lock.json
*/package-lock.json
**/package-lock.json
.idea
.vscode
mainunit/*
!mainunit/.gitkeep
docs
